<table class="table table-striped">
<thead>
	<tr>
		<th>No.</th>
		<th>Наименование</th>
		<th>Количество</th>
		<th>Цена</th>
		<th>Итого за позицию</th>
	</tr>
</thead>
<tbody>
<% numbr = 1 %>
<% @ord_hash.each do |k,v| %>
	<tr>
		<% curr_item = Product.find(k) %>
		<td><%=numbr%></td>
		<td><%=curr_item.title%></td>
		<td><%=v%></td>
		<td><%=curr_item.price%></td>
		<td><%=curr_item.price*v.to_i%></td>
	</tr>
<% numbr += 1 %>
<%end%>
</tbody>
</table>
