<h2 align="center">Welcome to PizzaShop</h2>


<div class="row">
	<div class="col-md-3">
	<img src="/images/logo.png" width="200" class="img-rounded">
	<br />
	<p id="basket"></p>
	</div>
	<div class="col-md-9">
		<div class="row">
			<% @prod_all_list.each do |product| %>
				<div class="col-sm-4 col-md-4 col-lg-4">
				<table><tr style="height: 400px;"><td style="vertical-align: bottom;">
				<img src="<%=product.path_to_pic%>" width="200" alt="<%=product.title%>" class="img-rounded">
				<h4><%=product.title%></h4>
				<h5><%=product.desc%></h5>
				<h5>Размер: <%=product.size%></h5>
				<h5>Цена: <%=product.price%></h5></td></tr>
				<tr style="text-align: center;"><td><button class="btn btn-primary btn-sm" onclick="addtocart(<%=product.id%>)">В корзину</button>
				</td></tr></table>
				</div>
				
			<%end%>
		</div>
	</div>
</div>

<script type="text/javascript">
//$('#chgonclick').css('background-color','#505050');
$(function() {
//	$('select[id="colorpicker"]').simplecolorpicker('selectColor', '#e1e1e1');
  update_orders_input();
  update_ord_btn();
});
</script>