<h2 align="center">Welcome to PizzaShop</h2>


<div class="row">
	<div class="col-md-3">
	<img src="/images/logo.png" width="200" class="img-rounded">
	</div>
	<div class="col-md-9">
		<div class="row" align="left">
			<% @prod_all_list.each do |product| %>
				<table><tr style="height: 400px;"><td style="vertical-align: bottom;">
				<div class="col-sm-4 col-md-4 col-lg-4" align="left">
				<img src="<%=product.path_to_pic%>" width="200" alt="<%=product.title%>" class="img-rounded">
				<h4><%=product.title%></h4>
				<h5><%=product.desc%></h5>
				<h5>Размер: <%=product.size%></h5>
				<h5>Цена: <%=product.price%></h5>
				<button class="btn btn-primary btn-sm" onclick="addtocart(<%=product.id%>)">В корзину</button>
				</div>
				</td></tr></table>
			<%end%>
		</div>
	</div>
</div>