			<%if session[:identity] then %>
			<table class="table">
				<thead>
					<tr>
						<th>No.</th>
						<th>Client name</th>
						<th>Client phone</th>
						<th>Client address</th>
						<th>Order content</th>
						<th>Total price</th>
					</tr>
				</thead>
				<tbody>
					<% num = 1 %>
					<% @all_orders.each do |this_order| %>
						<tr>
							<td><%=num%></td>
							<td><%=this_order.name%></td>
							<td><%=this_order.phone%></td>
							<td><%=this_order.address%></td>
							<td>
								<% order_array = this_order.orders_list.split(',')%>
								<% order_array.each do |this_item| %>
									<% item_data = Product.find(this_item.split('=')[0].delete('pzshp_product_')) %>
									<%=item_data.title%><br />
								<%end%>
							</td>
							<td><%=this_order.grandtotal%></td>
						</tr>
						<% num += 1 %>
					<% end %>
				</tbody>
			</table>
			<% end %>