			<%if session[:identity] then %>
			<table class="table">
				<thead>
					<tr>
						<th>No.</th>
						<th>Client name</th>
						<th>Client phone</th>
						<th>Client address</th>
						<th>Order content</th>
						<th>Total price</th>
					</tr>
				</thead>
				<tbody>
					<% num = 1 %>
					<% @all_orders.each do |this_order| %>
						<tr>
							<td><%=num%></td>
							<td><%=this_order.name%></td>
							<td><%=this_order.phone%></td>
							<td><%=this_order.address%></td>
							<td>
								<table class="table table-striped">
									<thead>
										<tr>
											<th>No.</th>
											<th>Наименование</th>
											<th>Количество</th>
											<th>Цена за шт.</th>
											<th>Итого за позицию</th>
										</tr>
									</thead>
									<tbody>
									<% inum = 1 %>
									<%this_order.orders_list.split(',').each do |kvpair| %>
										<% curr_item = Product.find(kvpair.split('=')[0].delete('pzshp_product_')) %>
										<tr>
											<td><%=inum%></td>
											<td><%=curr_item.title%></td>
											<td><%=kvpair.split('=')[1]%></td>
											<td><%=curr_item.price%></td>
											<td><%=curr_item.price * kvpair.split('=')[1] %></td>
										<% inum += %>
										</tr>
									<%end%>
									</tbody>
								</table>
							</td>
							<td><%=this_order.grandtotal%></td>
						</tr>
						<% num += 1 %>
					<% end %>
				</tbody>
			</table>
			<% end %>