			<%if session[:identity] then %>
			<table class="table table-striped">
				<thead>
					<tr>
<<<<<<< HEAD
						<th>No.</th>
						<th>Client name</th>
						<th>Client phone</th>
						<th>Client address</th>
						<th>Order content</th>
						<th>Total price</th>
					</tr>
				</thead>
				<tbody>
					<% num = 1 %>
					<% @all_orders.each do |this_order| %>
						<tr>
							<td><%=num%></td>
							<td><%=this_order.name%></td>
							<td><%=this_order.phone%></td>
							<td><%=this_order.address%></td>
							<td>
								<table class="table table-striped">
									<thead>
										<tr>
											<th>No.</th>
											<th>Наименование</th>
											<th>Количество</th>
											<th>Цена за шт.</th>
											<th>Итого за позицию</th>
										</tr>
									</thead>
									<tbody>
									<% inum = 1 %>
									
										
										<tr>
											<td><%=inum%></td>
											<td><%=this_order.orders_list%></td>
											<td><%=this_order.orders_list%></td>
											<td><%=this_order.orders_list%></td>
											<td><%=this_order.orders_list%></td>
										<% inum += %>
										</tr>
									
									</tbody>
								</table>
							</td>
							<td><%=this_order.grandtotal.to_s%></td>
						</tr>
						<% num += 1 %>
					<% end %>
=======
						<th>#</th>
						<th>Name</th>
						<th>Date and time</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>A</td>
						<td>1.2.3</td>
					</tr>
					<tr>
						<td>2</td>
						<td>B</td>
						<td>3.4.5</td>
					</tr>
					<tr>
						<td>3</td>
						<td>C</td>
						<td>5.6.7</td>
					</tr>
>>>>>>> parent of 1871378... admin area add
				</tbody>
			</table>
			<% end %>