			<%if session[:identity] then %>
			<table class="table">
				<thead>
					<tr>
						<th>No.</th>
						<th>Client name</th>
						<th>Client phone</th>
						<th>Client address</th>
						<th>Order content</th>
						<th>Total price</th>
					</tr>
				</thead>
				<tbody>
					<% num = 1 %>
					<% @all_orders.each do |this_order| %>
						<tr>
							<td><%=num%></td>
							<td><%=this_order.name%></td>
							<td><%=this_order.phone%></td>
							<td><%=this_order.address%></td>
							<td>
								<table class="table table-striped">
									<thead>
									  <tr>
									  	<th>Наименование</th>
									  	<th>Кол-во</th>
									  	<th>Цена</th>
									  	<th>Итого</th>
									  </tr>
									</thead>
									<tbody>
									<% order_array = this_order.orders_list.split(',')%>
									<% order_array.each do |this_item| %>
										<tr>
											<td>
												<% item_data = Product.find(this_item.split('=')[0].delete('pzshp_product_')) %>
												<%=item_data.title%>

											</td>
											<td>
												<%no_of_pzzs=this_item.split('=')[1]%>
												<%=no_of_pzzs%>		
											</td>
											<td><%=item_data.price%></td>
											<td><%=no_of_pzzs.to_i * item_data.price.to_i%></td>
										</tr>
									<%end%>
									</tbody>
								</table>
							</td>
							<td><%=this_order.grandtotal%></td>
						</tr>
						<% num += 1 %>
					<% end %>
				</tbody>
			</table>
			<% end %>